#home-scroll-wrapper,
#page-scroll-helper {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: block;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.ps-5 {
  padding-left: 1.5rem !important;
}
.languages {
  position: absolute;
  right: 50px;
  top: 10px;
  display: flex;
  opacity: 0.6;
  width: 50px;
  z-index: 100;
  filter: drop-shadow(2px 2px 2px rgb(119, 119, 119));
  animation: fade-in 5s linear;
}
.languages img {
  cursor: pointer;
}
.brandmark {
  bottom: -8px;
  left: 0;
  width: 100px;
  overflow: visible;
}
.brandmark,
.brandmark_small {
  position: absolute;
  z-index: 100;
}
.brandmark_small {
  display: none;
  bottom: 15px;
  right: 15px;
  width: 15vw;
  border-radius: 50%;
  background: linear-gradient(20deg, #e6b3b2, #cdad62);
  box-shadow: 0 54px 55px rgba(0, 0, 0, 0.25), 0 -12px 30px rgba(0, 0, 0, 0.12),
    0 4px 6px rgba(0, 0, 0, 0.12), 0 12px 13px rgba(0, 0, 0, 0.17),
    0 -3px 5px rgba(0, 0, 0, 0.09);
  animation: fade-in 5s linear;
}
.brandmark_small img {
  transform: scale(1.25);
  filter: drop-shadow(2px 2px 2px rgb(119, 119, 119));
}
.logo-wrapper {
  position: absolute;
  width: 100%;
}
.logo-wrapper img {
  width: 50%;
  filter: drop-shadow(5px 5px 5px #222);
  animation: logo-popup 3s cubic-bezier(0.81, 0.74, 0.86, 1.27) 0s;
  opacity: 0;
}
@keyframes logo-popup {
  0% {
    opacity: 0;
    transform: translateY(20%) scale(0);
  }
  30% {
    opacity: 1;
    transform: translateY(0) scale(1.1);
  }
  90% {
    opacity: 1;
    transform: translateY(0) scale(0.9);
  }
  to {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
}
a {
  text-decoration: none !important;
}
* {
  box-sizing: border-box;
}
body {
  font-family: montserrat-regular;
  color: #999;
  font-size: 12px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  max-width: 100%;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}
a {
  color: #ff9a9c;
  transition: all 0.3s ease;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #fe4447;
}
:focus {
  outline: none;
}
.form-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  animation: popup 1s linear 3.5s forwards;
  opacity: 0;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: matrix(0.7, 0, 0, 0.7, 0, 0);
  }
  2.083333% {
    transform: matrix(0.75266, 0, 0, 0.76342, 0, 0);
  }
  4.166667% {
    transform: matrix(0.81071, 0, 0, 0.84545, 0, 0);
  }
  6.25% {
    transform: matrix(0.86808, 0, 0, 0.9286, 0, 0);
  }
  8.333333% {
    transform: matrix(0.92038, 0, 0, 1, 0, 0);
  }
  10.416667% {
    transform: matrix(0.96482, 0, 0, 1.05202, 0, 0);
  }
  12.5% {
    transform: matrix(1, 0, 0, 1.08204, 0, 0);
  }
  14.583333% {
    transform: matrix(1.02563, 0, 0, 1.09149, 0, 0);
  }
  16.666667% {
    transform: matrix(1.04227, 0, 0, 1.08453, 0, 0);
  }
  18.75% {
    transform: matrix(1.05102, 0, 0, 1.06666, 0, 0);
  }
  20.833333% {
    transform: matrix(1.05334, 0, 0, 1.04355, 0, 0);
  }
  22.916667% {
    transform: matrix(1.05078, 0, 0, 1.02012, 0, 0);
  }
  25% {
    transform: matrix(1.04487, 0, 0, 1, 0, 0);
  }
  27.083333% {
    transform: matrix(1.03699, 0, 0, 0.98534, 0, 0);
  }
  29.166667% {
    transform: matrix(1.02831, 0, 0, 0.97688, 0, 0);
  }
  31.25% {
    transform: matrix(1.01973, 0, 0, 0.97422, 0, 0);
  }
  33.333333% {
    transform: matrix(1.01191, 0, 0, 0.97618, 0, 0);
  }
  35.416667% {
    transform: matrix(1.00526, 0, 0, 0.98122, 0, 0);
  }
  37.5% {
    transform: matrix(1, 0, 0, 0.98773, 0, 0);
  }
  39.583333% {
    transform: matrix(0.99617, 0, 0, 0.99433, 0, 0);
  }
  41.666667% {
    transform: matrix(0.99368, 0, 0, 1, 0, 0);
  }
  43.75% {
    transform: matrix(0.99237, 0, 0, 1.00413, 0, 0);
  }
  45.833333% {
    transform: matrix(0.99202, 0, 0, 1.00651, 0, 0);
  }
  47.916667% {
    transform: matrix(0.99241, 0, 0, 1.00726, 0, 0);
  }
  50% {
    opacity: 1;
    transform: matrix(0.99329, 0, 0, 1.00671, 0, 0);
  }
  52.083333% {
    transform: matrix(0.99447, 0, 0, 1.00529, 0, 0);
  }
  54.166667% {
    transform: matrix(0.99577, 0, 0, 1.00346, 0, 0);
  }
  56.25% {
    transform: matrix(0.99705, 0, 0, 1.0016, 0, 0);
  }
  58.333333% {
    transform: matrix(0.99822, 0, 0, 1, 0, 0);
  }
  60.416667% {
    transform: matrix(0.99921, 0, 0, 0.99884, 0, 0);
  }
  62.5% {
    transform: matrix(1, 0, 0, 0.99816, 0, 0);
  }
  64.583333% {
    transform: matrix(1.00057, 0, 0, 0.99795, 0, 0);
  }
  66.666667% {
    transform: matrix(1.00095, 0, 0, 0.99811, 0, 0);
  }
  68.75% {
    transform: matrix(1.00114, 0, 0, 0.99851, 0, 0);
  }
  70.833333% {
    transform: matrix(1.00119, 0, 0, 0.99903, 0, 0);
  }
  72.916667% {
    transform: matrix(1.00114, 0, 0, 0.99955, 0, 0);
  }
  75% {
    transform: matrix(1.001, 0, 0, 1, 0, 0);
  }
  77.083333% {
    transform: matrix(1.00083, 0, 0, 1.00033, 0, 0);
  }
  79.166667% {
    transform: matrix(1.00063, 0, 0, 1.00052, 0, 0);
  }
  81.25% {
    transform: matrix(1.00044, 0, 0, 1.00058, 0, 0);
  }
  83.333333% {
    transform: matrix(1.00027, 0, 0, 1.00053, 0, 0);
  }
  85.416667% {
    transform: matrix(1.00012, 0, 0, 1.00042, 0, 0);
  }
  87.5% {
    transform: matrix(1, 0, 0, 1.00027, 0, 0);
  }
  89.583333% {
    transform: matrix(0.99991, 0, 0, 1.00013, 0, 0);
  }
  91.666667% {
    transform: matrix(0.99986, 0, 0, 1, 0, 0);
  }
  93.75% {
    transform: matrix(0.99983, 0, 0, 0.99991, 0, 0);
  }
  95.833333% {
    transform: matrix(0.99982, 0, 0, 0.99985, 0, 0);
  }
  97.916667% {
    transform: matrix(0.99983, 0, 0, 0.99984, 0, 0);
  }
  to {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.flip-card {
  width: 850px;
  height: 550px;
  margin: auto;
  perspective: 1000px;
}
.inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}
.brandmark.is-flipped,
.inner.is-flipped {
  transform: rotateY(180deg);
}
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fff;
  border: 1cm solid pink;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.back-side,
.front-side {
  display: flex;
}
.back-side {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  padding: 10%;
}
.back-side img {
  width: 30%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transform: scale(2);
  margin-bottom: 10px;
}
.image-holder {
  width: 50%;
  padding-right: 15px;
}
.image-holder img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
form {
  width: 50%;
  padding-top: 77px;
  padding-right: 60px;
  padding-left: 15px;
}
h3 {
  font-size: 35px;
  font-family: elmessiri-semibold;
  text-align: center;
  margin-bottom: 27px;
  color: #ff6467;
}
.form-holder {
  padding-left: 24px;
  position: relative;
}
.form-holder:before {
  box-sizing: border-box;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ff9a9c;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.form-holder.active:before {
  border: 2px solid transparent;
  background: #ff9a9c;
}
input:valid {
  color: #000 !important;
  font-family: montserrat-regular !important;
}
input[type="date"]:before {
  color: gray;
  content: attr(placeholder);
  height: 47px;
  line-height: 47px !important;
}
input[type="date"] {
  font-family: montserrat-regular;
  font-size: 13px;
  vertical-align: middle !important;
  height: 47px;
  line-height: 47px !important;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
input[type="date"]:focus,
input[type="date"]:valid {
  font-family: montserrat-regular;
  font-size: 15px;
  color: #000;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "" !important;
}
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill=%27black%27 height=%2724%27 viewBox=%270 0 24 24%27 width=%2724%27 xmlns=%27http://www.w3.org/2000/svg%27><path d=%27M7 10l5 5 5-5z%27/><path d=%27M0 0h24v24H0z%27 fill=%27none%27/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  font-size: 14px !important;
  color: gray;
  text-transform: uppercase !important;
  font-family: montserrat-regular;
  cursor: pointer;
}
select.validInput {
  color: #000 !important;
}
.invalid-input {
  border-style: solid !important;
  border-color: coral !important;
}
.form-control {
  display: block;
  width: 100%;
  border-radius: 10px;
  height: 47px;
  line-height: 47px;
  padding: 0 24px;
  color: gray;
  font-size: 14px !important;
  border: none;
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid #d7d7d7;
}
.form-control:-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-moz-placeholder,
.form-control::-webkit-input-placeholder {
  font-size: 14px !important;
  color: gray;
  text-transform: uppercase !important;
  font-family: montserrat-regular;
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  to {
    transform: translateX(0);
  }
}
button {
  letter-spacing: 2px;
  border: none;
  width: 113px;
  height: 37px;
  margin-right: 19px;
  border-radius: 23.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ff6467;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: montserrat-semibold;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
button:hover {
  animation-name: hvr-wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.checkbox {
  position: relative;
  padding-left: 19px;
  margin-bottom: 37px;
  margin-left: 26px;
}
.checkbox label {
  cursor: pointer;
  color: #999;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
}
.checkmark:after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ff9a9c;
  position: absolute;
  display: none;
}
.form-submit {
  display: flex;
  align-items: center;
  margin-left: 23px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.error-list {
  text-decoration: none;
  list-style: none;
  align-items: flex-start;
}
.error-item {
  text-align: left;
  font-size: 12px;
  color: #ff9a9c;
}
@media (max-width: 767px) {
  #home-scroll-wrapper,
  #page-content,
  #page-scroll-helper,
  #scroll,
  .card-face,
  .flip-card,
  .form-wrapper,
  .inner {
    overflow: visible !important;
  }
  #page-content,
  #scroll {
    height: 100vh !important;
  }
  .card-face,
  .flip-card,
  .inner {
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100vh !important;
  }
  .brandmark {
    display: none;
  }
  .front-side {
    display: block;
    overflow: scroll;
    border-radius: 0;
  }
  .back-side img {
    width: 50%;
  }
  .flip-card {
    width: 100vw;
    height: 100vh;
  }
  .image-holder {
    width: 100%;
    padding-right: 0;
  }
  .brandmark_small {
    display: block !important;
  }
  form {
    width: 100%;
    padding: 0 15px 70px;
  }
  .form-wrapper {
    background: 0 0;
  }
  .vertical-line {
    animation: fade-out 3.3s linear;
    opacity: 0;
  }
  .logo-wrapper-wrapper-mobile {
    height: 100vh;
    width: 100vw;
    position: absolute;
  }
  .logo-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .logo-wrapper img {
    width: 80%;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content-show {
  display: block;
}
#background-1 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease-out;
}
#page-scroll-helper {
  min-height: 100vh !important;
}
.vertical-line {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  width: 2px;
  border-width: 0 1rem;
  border-color: transparent;
  height: 20%;
  background-clip: padding-box;
  background: linear-gradient(180deg, #8f6b29 0, #fde08d 50%, #df9f28);
  box-sizing: content-box;
  top: 40%;
  filter: drop-shadow(5px 5px 5px #222);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  transition: all 0.5s cubic-bezier(0.32, -0.12, 0.16, 1.14);
}
.vertical-line:hover {
  transition: width 0.3s cubic-bezier(0.32, -0.12, 0.16, 1.14);
  width: 0.8rem;
}
.vertical-line-left {
  right: 95%;
}
.vertical-line-right {
  left: 95%;
}
.center-container {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
#page-content {
  width: 100%;
  position: absolute;
  transition: opacity 1s cubic-bezier(0.51, 0.6, 0.17, 1);
}
#page-scroll-helper {
  visibility: hidden;
}
#app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.page-opacity-enter-active,
.page-opacity-leave-active {
  transition: all 0.6s ease;
}
.page-opacity-enter-from,
.page-opacity-leave-to {
  opacity: 0;
}
